footer {
   background: black;
}
.foter_wrraper {
   background: black;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
}
.footer_social {
   padding-top: 30px;
   padding-bottom: 18px;
}
.footer_social_item {
   text-decoration: none;
   color: white;
   padding-left: 23px;
}
.footer_copyright {
   font-family: Open Sans;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   line-height: 16px;
   text-align: center;
   color: rgba(255, 255, 255, 0.5);
   padding-top: 18px;
   padding-bottom: 15px;
}
.footer_social_item:hover {
   content: "";
   color: rgba(236, 121, 121, 1);
   transition: .8s;
}